<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-category/">Создать категорию</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-course/">Создать курс</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/course-list/">Список курсов</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-student/">Создать студента</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/student-list/">Список студентов</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Войти</a>
  </li>
</ul>